.usersBox img {
   width: 150px;
   border-radius: 50%;
}

.usersBox p {
   text-align: center;
}

.parentBox {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 60px;
   margin-top: 30px;
}

.userBox,
.usersBox {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

.userBox img {
   width: 250px;
   border-radius: 50%;
}

.details {
   display: flex;
   margin-top: 30px;
   justify-content: center;
   align-items: center;
   text-align: center;
}